<head xmlns:th="http://www.thymeleaf.org">
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>Hospital</title>

    <link rel="icon" th:href="@{/images/logo.png}"/>

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/themify-icons.css}"/>
    <link rel="stylesheet" th:href="@{/css/swiper.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/select.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/nice-select.css}"/>
    <link rel="stylesheet" th:href="@{/css/owl.carousel.css}"/>
    <link rel="stylesheet" th:href="@{/css/gijgo.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/all.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/tagsinput.css}"/>
    <link rel="stylesheet" th:href="@{/css/jquery.dataTables.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/responsive.dataTables.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/buttons.dataTables.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/summernote-bs4.css}"/>
    <link rel="stylesheet" th:href="@{/css/morris.css}"/>
    <link rel="stylesheet" th:href="@{/css/material-icons.css}"/>
    <link rel="stylesheet" th:href="@{/css/metisMenu.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>