<script th:src="@{/js/jquery1-3.4.1.min.js}" xmlns:th="http://www.thymeleaf.org"></script>
<script th:src="@{/js/popper.min.js}" xmlns:th="http://www.thymeleaf.org"></script>
<script th:src="@{/js/bootstrap1.min.js}" xmlns:th="http://www.thymeleaf.org"></script>
<script th:src="@{/js/metisMenu.js}" xmlns:th="http://www.thymeleaf.org"></script>
<script th:src="@{/js/jquery.waypoints.min.js}" xmlns:th="http://www.thymeleaf.org"></script>
<script th:src="@{/js/chart.min.js}" xmlns:th="http://www.thymeleaf.org"></script>
<script th:src="@{/js/jquery.counterup.min.js}" xmlns:th="http://www.thymeleaf.org"></script>
<script th:src="@{/js/swiper.min.js}" xmlns:th="http://www.thymeleaf.org"></script>
<script th:src="@{/js/jquery.nice-select.min.js}" xmlns:th="http://www.thymeleaf.org"></script>
<script th:src="@{/js/owl.carousel.min.js}" xmlns:th="http://www.thymeleaf.org"></script>
<script th:src="@{/js/gijgo.min.js}" xmlns:th="http://www.thymeleaf.org"></script>
<script th:src="@{/js/jquery.dataTables.min.js}" xmlns:th="http://www.thymeleaf.org"></script>
<script th:src="@{/js/dataTables.responsive.min.js}" xmlns:th="http://www.thymeleaf.org"></script>
<script th:src="@{/js/dataTables.buttons.min.js}" xmlns:th="http://www.thymeleaf.org"></script>
<script th:src="@{/js/buttons.flash.min.js}" xmlns:th="http://www.thymeleaf.org"></script>
<script th:src="@{/js/jszip.min.js}" xmlns:th="http://www.thymeleaf.org"></script>
<script th:src="@{/js/pdfmake.min.js}" xmlns:th="http://www.thymeleaf.org"></script>
<script th:src="@{/js/vfs_fonts.js}" xmlns:th="http://www.thymeleaf.org"></script>
<script th:src="@{/js/buttons.html5.min.js}" xmlns:th="http://www.thymeleaf.org"></script>
<script th:src="@{/js/buttons.print.min.js}" xmlns:th="http://www.thymeleaf.org"></script>
<script th:src="@{/js/jquery.barfiller.js}" xmlns:th="http://www.thymeleaf.org"></script>
<script th:src="@{/js/tagsinput.js}" xmlns:th="http://www.thymeleaf.org"></script>
<script th:src="@{/js/summernote-bs4.js}" xmlns:th="http://www.thymeleaf.org"></script>
<script th:src="@{/js/apexcharts.js}" xmlns:th="http://www.thymeleaf.org"></script>
<script th:src="@{/js/custom.js}" xmlns:th="http://www.thymeleaf.org"></script>
<script th:src="@{/js/bar_active_1.js}" xmlns:th="http://www.thymeleaf.org"></script>
<script th:src="@{/js/apex_chart_list.js}" xmlns:th="http://www.thymeleaf.org"></script>