<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:insert="~{common/head.html}"></div>

<body class="crm_body_bg">

<div th:insert="~{common/navbar.html}"></div>

<section class="main_content dashboard_part">
    <div th:if="${successMessage}" class="alert alert-success" role="alert">
        <span th:text="${successMessage}"></span>
    </div>

    <div th:if="${errorMessage}" class="alert alert-danger" role="alert">
        <span th:text="${errorMessage}"></span>
    </div>

    <div class="main_content_iner ">
        <div class="container-fluid p-0">
            <div class="row justify-content-center">
                <div class="col-lg-12">
                    <div class="row justify-content-center">
                        <div class="col-lg-6">
                            <div class="modal-content cs_modal">
                                <div class="modal-body">
                                    <form th:action="@{/doctor/duty-schedule/save}"
                                          th:object="${dutySchedule}" method="post">

                                        <div class="modal-header" style="margin-bottom: 20px">
                                            <h3 th:text="${(dutySchedule.id != 0) ? dutySchedule.day : 'Day'}"></h3>
                                        </div>

                                        <input type="hidden" th:field="*{id}">

                                        <input type="hidden" th:field="*{doctor}">

                                        <div th:if="${dutySchedule.id == 0}">
                                            <label for="day" style="margin-left: 10px; margin-bottom: 10px">
                                                Day

                                                <br>
                                                <label th:if="${#fields.hasErrors('day')}"
                                                       th:errors="*{day}"
                                                       style="color: red;">
                                                </label>
                                            </label>

                                            <br>
                                            <select th:field="*{day}" class="custom-select" id="day">
                                                <option value="">Select day</option>

                                                <option th:each="day : ${days}"
                                                        th:value="${day}" th:text="${day}">
                                                </option>
                                            </select>
                                        </div>

                                        <div th:if="${dutySchedule.id != 0}">
                                            <input type="hidden" th:field="*{day}">
                                        </div>

                                        <div class="">
                                            <label for="work_start" style="margin-left: 10px; margin-bottom: 10px">
                                                Duty start

                                                <br>
                                                <label th:if="${#fields.hasErrors('dutyStart')}"
                                                       th:errors="*{dutyStart}"
                                                       style="color: red;">
                                                </label>
                                            </label>

                                            <input type="time" th:value="${dutyStart}" th:field="*{dutyStart}"
                                                   class="form-control" id="work_start">
                                        </div>

                                        <div class="">
                                            <label for="work_end" style="margin-left: 10px; margin-bottom: 10px">
                                                Duty end

                                                <br>
                                                <label th:if="${#fields.hasErrors('dutyEnd')}"
                                                       th:errors="*{dutyEnd}"
                                                       style="color: red;">
                                                </label>
                                            </label>

                                            <input type="time" th:value="${dutyEnd}" th:field="*{dutyEnd}"
                                                   class="form-control" id="work_end">
                                        </div>

                                        <button type="submit" class="btn_1 full_width text-center">Save</button>

                                        <a th:href="@{/doctor/duty-schedules(id=${dutySchedule.doctor.id})}"
                                           class="btn_1 full_width text-center">
                                            Back
                                        </a>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div th:insert="~{common/scripts.html}"></div>

</body>
</html>