<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>Hospital</title>

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>

<body>

<section class="vh-100">
    <div class="container-fluid h-custom">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-9 col-lg-6 col-xl-5">
                <img class="img-fluid"
                     src="https://marketplace.canva.com/EAE8eSD-Zyo/1/0/1600w/canva-blue%2C-white-and-green-medical-care-logo-oz1ox2GedbU.jpg"
                     alt="">
            </div>

            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                <form action="#" th:action="@{/authenticateTheUser}" method="post">
                    <!-- Error -->
                    <div th:if="${param.error}" class="alert alert-danger" role="alert">
                        Invalid username or password!
                    </div>

                    <!-- Logout -->
                    <div th:if="${param.logout}" class="alert alert-info" role="alert">
                        You have been logged out.
                    </div>

                    <!-- Email input -->
                    <div class="form-outline mb-4">
                        <label for="username" class="form-label">
                            <strong style="color: #2daab8;">Username</strong>
                        </label>

                        <input type="text" name="username" id="username"
                               class="form-control form-control-lg" placeholder="Enter username"/>
                    </div>

                    <!-- Password input -->
                    <div class="form-outline mb-3">
                        <label for="password" class="form-label" >
                            <strong style="color: #2daab8;">Password</strong>
                        </label>

                        <input type="password" name="password" id="password"
                               class="form-control form-control-lg" placeholder="Enter password"/>
                    </div>

                    <div class="text-center text-lg-start mt-4 pt-2">
                        <button type="submit" class="btn btn-lg"

                                style="background-color: #2daab8; color: white;
                                padding-left: 2.5rem; padding-right: 2.5rem;">
                            Login
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

</body>
</html>